
</br>


<table border='1'>
  <thead>
    <tr>
      <th>DateTest </th>
      <th>Calories Consumed</th>
      <th>Calories Burned by Excercise</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
<% @userdailydata.each do |data| %>
<tr>
<td> <%= data.date.strftime("%Y-%m-%d") %> </td>
<td> <%= data.calories_consumed %> </td>
<td> <%= data.calories_exercised %> </td>
<td> <%= data.weight %> </td>
</tr> 
<% end %>
</tbody>
</table>

