
 <section id="contact">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
<h1>Create a Goal!</h1>
Note that this will replace any existing goals you have!

                </div>
            </div>
        </div>
    </section>

<%= render 'form' %>

<%= link_to 'Back', profiles_path %>
