<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there <%= "Joe" %></h1>
    <p>
     This is your weekly email designed to track your status!
    </p>
    <p>
     <%= @url %>.
    </p>
<!--conditionals for if user didnt enter calories or if they fell off track -->




    <p>Enjoy your day!</p>
  </body>
</html>